[Unit]
Description = Mount NFS Share
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Mount]
What=192.168.50.10:/var/nfs_share
Where=/mnt/share
Type=nfs
Options=nfsvers=3,proto=udp,soft
# Uncomment the below if your server is real slow
# TimeoutSec=10

[Install]
WantedBy=multi-user.target